In [85]:
import pandas as pd
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm
import numpy as np
import numpy.random as nr
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss
import math
from sklearn.model_selection import train_test_split


%matplotlib inline

df = pd.read_csv('Ecommerce Customers')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,33.053194,12.052488,37.060445,3.533462,499.314038
std,0.992563,0.994216,1.010489,0.999278,79.314782
min,29.532429,8.508152,33.913847,0.269901,256.670582
25%,32.341822,11.388153,36.349257,2.930450,445.038277
50%,33.082008,11.983231,37.069367,3.533975,498.887875
75%,33.711985,12.753850,37.716432,4.126502,549.313828
max,36.139662,15.126994,40.005182,6.922689,765.518462

In [90]:
ava_map = df['Avatar'].value_counts().to_dict()
df.Avatar = df.Avatar.map(ava_map)
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",78,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",105,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",102,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",102,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",78,33.330673,12.795189,37.536653,4.446308,599.406092

In [67]:
df=df.drop(columns=['Email','Address','Avatar'])
df.head()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,34.497268,12.655651,39.577668,4.082621,587.951054
1,31.926272,11.109461,37.268959,2.664034,392.204933
2,33.000915,11.330278,37.110597,4.104543,487.547505
3,34.305557,13.717514,36.721283,3.120179,581.852344
4,33.330673,12.795189,37.536653,4.446308,599.406092

In [32]:
# Functions

# Function to check Correlation between variables :
def Corr_check(x,y):
    print("Feature Scores are :")
    F_score = []
    for ele in x.columns:
        if x[ele].dtype != 'O':
            print("{} :".format(ele), np.corrcoef(x[ele],y)[0][1])
            F_score.append(abs(np.corrcoef(x[ele],y)[0][1]))
        else:
            continue
                    
    return F_score


#Function to check the skewness of columns :

def Skew_chk(y):
    Drop_list = []
    print("Skewness for the Columns are ")
    for ele in y.columns:
        skw = ss.skew(y[ele])
        print("{} :".format(ele), skw)
#        if skw > 0.6 :
#            df.insert(len(df.columns),ele+"_log",np.log(y[ele])
#            Drop_list.append(ele)
#        else:
                      
#                if skw < 0.6 :
#                          df.insert(len(df.columns),ele+"_log",np.sqrt(y[ele])

#    return df.drop(Drop_list, axis=1)

In [33]:
scores = Corr_check(df,df['Yearly Amount Spent'])
type(scores)

Feature Scores are :
Avg. Session Length : 0.35508829470764325
Time on App : 0.4993277700534505
Time on Website : -0.0026408446721589733
Length of Membership : 0.8090835682475812
Yearly Amount Spent : 1.0

list

In [34]:
skewness = Skew_chk(df)
type(skewness)
skewness

Skewness for the Columns are
Avg. Session Length : -0.03207820208079134
Time on App : -0.08885351110323013
Time on Website : 0.012105424233404407
Length of Membership : -0.10628796203551165
Yearly Amount Spent : 0.03468572646546689

In [35]:
df.agg(['skew', 'kurtosis']).transpose()

                          skew  kurtosis
Avg. Session Length  -0.032175  0.011862
Time on App          -0.089121  0.125081
Time on Website       0.012142 -0.098287
Length of Membership -0.106608  0.349010
Yearly Amount Spent   0.034790  0.463976

In [63]:
df.head()
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Training the Multiple Linear Regression model on the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

# Predicting the Test set results
y_pred = regressor.predict(X_test)

from sklearn import metrics

# Mean Absolute Error
print("Result of MAE IS : ",metrics.mean_absolute_error(y_test, y_pred))

# Mean Squared Error
print("Result of MSE IS : ",metrics.mean_squared_error(y_test, y_pred))

# Root Mean Squared Error
print("Result of RMSE IS : ",np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

import statsmodels.api as smf

est = smf.OLS(y, X)
est2 = est.fit()
print(est2.summary())

Result of MAE IS :  7.645674798915256
Result of MSE IS :  92.89010304498484
Result of RMSE IS :  9.637951185028115
                                 OLS Regression Results
========================================================================================
Dep. Variable:     Yearly Amount Spent   R-squared (uncentered):                   0.998
Model:                             OLS   Adj. R-squared (uncentered):              0.998
Method:                  Least Squares   F-statistic:                          6.146e+04
Date:                 Wed, 04 Aug 2021   Prob (F-statistic):                        0.00
Time:                         18:29:49   Log-Likelihood:                         -2270.3
No. Observations:                  500   AIC:                                      4549.
Df Residuals:                      496   BIC:                                      4565.
Df Model:                            4
Covariance Type:             nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Avg. Session Length     11.8713      0.763     15.564      0.000      10.373      13.370
Time on App             34.7461      1.011     34.375      0.000      32.760      36.732
Time on Website        -14.1642      0.705    -20.091      0.000     -15.549     -12.779
Length of Membership    60.4162      1.022     59.102      0.000      58.408      62.425
==============================================================================
Omnibus:                        0.497   Durbin-Watson:                   2.160
Prob(Omnibus):                  0.780   Jarque-Bera (JB):                0.605
Skew:                          -0.008   Prob(JB):                        0.739
Kurtosis:                       2.830   Cond. No.                         54.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [62]:
print("pvalues\n",est2.pvalues)

pvalues
 Avg. Session Length      9.147135e-45
Time on App             2.410120e-133
Time on Website          3.964336e-66
Length of Membership    1.109629e-226
dtype: float64